.Pokecard {
    font-size: 1.5rem;
    width: 20%;
    margin: 15px;
    background-color: lightgray;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}

.Pokecard-name {
    color: blue;
}

.Pokecard-type, .Pokecard-exp {
    color: black;
}